<p class="<%= p_tag_classes(:red) %>"><%= alert %></p>

<h1 class="<%= form_subtitle_classes %>">Forgot your password?</h1>

<%= form_with(url: identity_password_reset_path, class: form_group_classes) do |form| %>
  <div class="mb-4">
    <%= form.label :email, class: label_classes %>
    <%= form.email_field :email, required: true, autofocus: true, autocomplete: "email", class: form_input_classes %>
  </div>

  <div class="mb-4">
    <%= form.submit "Send password reset email", class: submit_button_classes %>
  </div>
<% end %>
