<h1 class="<%= form_subtitle_classes %>" >Sign up</h1>

<%= form_with(url: sign_up_path, class: form_group_classes) do |form| %>
  <% if @user.errors.any? %>
    <div class="<%= form_error_classes %>">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :email, class: label_classes %>
    <%= form.email_field :email, value: @user.email, required: true, autofocus: true, autocomplete: "email", class: form_input_classes %>
  </div>

  <div class="mb-4">
    <%= form.label :password, class: label_classes %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", class: form_input_classes %>
    <div class="text-sm text-gray-600 mt-1">
    12 characters minimum.</div>
  </div>

  <div class="mb-4">
    <%= form.label :password_confirmation, class: label_classes %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: form_input_classes %>
  </div>

  <div class="mb-4">
    <%= form.submit "Sign up", class: submit_button_classes %>
  </div>
<% end %>
