<%= alert_msg(:info, notice) if notice %>
<%= alert_msg(:warning, alert) if alert %>
<%= alert_msg(:error, flash[:error]) if flash[:error] %>
<%= alert_msg(:success, flash[:success]) if flash[:success] %>

<h1>Welcome, <%= Current.user.email %>!</h1>
<p class="<%= p_tag_classes %>">Signed as <%= Current.user.email %></p>

<h2>Login and verification</h2>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<div>
  <%= link_to "Send invitation", new_invitation_path %>
</div>

<h2>Access history</h2>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<br>

<%= button_to "Log out", Current.session, method: :delete %>
