<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? strip_tags(yield(:title)) : "Turbo Templating" %></title>
    <meta name="apple-mobile-web-app-title" content="Turbo Templating">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/sidebar" %>

    <%= render HeaderComponent.new(mobile_sidebar_open: true) %>
    <main id="page-content" class="flex max-w-full flex-auto flex-col pt-20 lg:pt-0">
      <div class="container mx-auto space-y-10 px-4 py-8 lg:space-y-16 lg:px-8 xl:max-w-7xl">

        <div>
          <h2 class="mb-2 text-3xl font-semibold">Overview</h2>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8">
            <%= render CardComponent.new(title: "Projects", value: "4", subtitle: "Currently active") do %>
              <svg
                class="bi bi-gear-fill inline-block size-4 text-slate-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <%= raw gear_icon_path %>
              </svg>
            <% end %>

            <%= render CardComponent.new(title: "Tickets", value: "20", subtitle: "Currently open and pending") do %>
              <svg
                class="bi bi-lock-fill inline-block size-4 text-slate-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <%= raw lock_icon_path %>
              </svg>
            <% end %>

            <%= render CardComponent.new(title: "Customers", value: "782", subtitle: "All active accounts") do %>
              <svg
                class="bi bi-life-preserver inline-block size-4 text-slate-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <%= raw life_preserver_icon_path %>
              </svg>
              <!-- icon -->
            <% end %>
          </div>
        </div>

        <div>
          <h2 class="mb-2 text-3xl font-semibold">Projects</h2>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
            <%= render ProjectCardComponent.new(title: "Dashboard Design", client: "Jeremy Smith") %>
            <%= render ProjectCardComponent.new(title: "5 Clean Logos", client: "Alex Saunders") %>
          </div>
        </div>

        <div>
          <h2 class="mb-2 text-3xl font-semibold">Customers</h2>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8">
            <%= render CustomerCardComponent.new(name: "Jeremy Theodore", email: "j.theodore@example.com", project: "Landing Illustrations") %>
            <%= render CustomerCardComponent.new(name: "Sue Keller", email: "s.keller@example.com", project: "Dashboard Design") %>
            <%= render CustomerCardComponent.new(name: "Alex Saunders", email: "a.sanders@example.com", project: "5 Clean Logos") %>
          </div>
        </div>

      </div>
    </main>

    <%= render FooterComponent.new %>
  </body>
</html>
